<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8" >
		<title>{{ .Site.Title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/i/favicon.svg" type="image/x-icon">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,600,500,700,800,900|Ubuntu+Mono:100,200,300,400,500,600,700,800,900&amp;subset=latin" rel="stylesheet">
		<!-- Bootstrap 4.3.1 CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Slick 1.8.1 jQuery plugin CSS (Sliders) -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<!-- AOS 2.3.4 jQuery plugin CSS (Animations) -->
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<!-- Startup 3 CSS (Styles for all blocks) -->
		<link href="/css/style.css" rel="stylesheet" />
		<!-- jQuery 3.3.1 -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	</head>

	<body class="d-flex flex-column h-100 bg-light">

		{{ partial "mobile-nav.html" . }}

		{{ partial "nav.html" . }}

		<div class="flex-shrink-0">
	    {{ block "main" .}}
	    {{ end }}
		</div>

		{{ partial "footer.html" . }}

    <!-- gReCaptcha popup (uncomment if you need a recaptcha integration) -->
    <!--
    <div class="bg-dark op-8 grecaptcha-overlay"></div>
    <div class="bg-light radius10 w-350 h-120 px-20 pt-20 pb-20 grecaptcha-popup">
      <div class="w-full h-full d-flex justify-content-center align-items-center">
        <div id="g-recaptcha" data-sitekey="PUT_YOUR_SITE_KEY_HERE"></div>
      </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
    -->
    <!-- Bootstrap 4.3.1 JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <!-- Google maps JS API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
    <!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
    <script src="/js/jquery.maskedinput.min.js"></script>
    <!-- Startup 3 JS (Custom js for all blocks) -->
    <script src="/js/script.js"></script>

		<script data-goatcounter="https://regolithonstage.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
