{{ define "main" }}

<section class="bg-light content_34 bg-light pb-80">
  <div class="container px-xl-0">
    <div class="row">
      <div class="col-xl-1">
      </div>
      <div class="col-lg-10">
        <h2 class="mb-35 small">{{ .Title }}</h2>
        <div class="mb-20 color-heading">
          Regolith On Stage is available for <b>Regolith v1.3.1+</b> and can be installed on Ubuntu 18.04, 19.10 or 20.04 by adding a PPA and installing the <code>regolith-on-stage</code> package. Adding the PPA will allow you to get the latest updates automatically.
        </div>
        <div class="pt-10 pb-10 radius6" id="copy_from_me">
          <pre class="m-0 f-16 lh-22">
            $ sudo add-apt-repository ppa:gdeflaux/regolith-on-stage
            $ sudo apt install regolith-on-stage</pre>
        </div>
        <div class="mt-20 color-heading">
          You can download the binaries and source code of each individual version from the <a href="/releases" class="link action-1">detailed release notes</a>.
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
