$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: Roboto Slab;
$font_main: Ubuntu Mono;
$font_heading_weight: 700;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #43aa8b;
$action_2: #f75252;
$action_3: #E93A7D;
$color_main: #e7e7e7;
$color_heading: #919dab;
$color_white: #ffffff;
$color_gray: #43aa8b;
$bg_dark: #ff5555;
$bg_light: #212121;

$color_red: #EA3223;
$color_red_hover: #e10000;
$color_green: #18c967;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #E93A7D;
