{{ $features := .Site.Params.features }}
{{ $title := index $features "title" }}
{{ $description := index $features "description" }}
{{ $video :=  index $features "video" }}
{{ $features_list := index $features "features" }}

<!-- Feature 10 -->
<section id="features" class="pt-100 pb-70 bg-light text-center text-lg-left feature_10">
	<div class="container px-xl-0">
		<div class="row justify-content-center justify-content-lg-between align-items-center">
			<div class="col-lg-5">
				<h2 class="mb-25 small">{{ $title }}</h2>
				<div class="f-22 color-heading text-adaptive">
					{{ $description }}
				</div>
			</div>
			<div class="col-lg-6 col-md-8 col-sm-10 mt-30 mb-50 mt-lg-0 mb-md-0">
				<div class="relative poster">
					<img src="{{ index $video "thumbnail_lo" }}" srcset="{{ index $video "thumbnail_hi" }} 2x" alt="" class="img-fluid radius6" />
					<a href="{{ index $video "url" }}&showinfo=0" class="play red" data-fancybox="feature_10_fancybox">
						<i class="fas fa-play"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-90 mb-65 hr bg-gray h-2 d-none d-md-block">
		</div>
		<div class="row justify-content-center">
      {{ range $features_list }}
        <div class="col-lg-4 col-md-8 mb-40">
  				<i class="{{ .icon }} f-40 color-gray"></i>
  				<div class="mt-25 mb-20 f-22 title">{{ .title }}</div>
  				<div class="color-heading text-adaptive">
  					{{ .description }}
  				</div>
  			</div>
      {{ end }}
		</div>
	</div>
</section>
