{{ $footer := .Site.Params.footer }}
{{ $lo := index $footer "logo_lo_res" }}
{{ $hi := index $footer "logo_hi_res" }}
{{ $nav_links := index .Site.Params.navigation "links" }}

<!-- Footer 7 -->
<footer class="pt-55 pb-55 bg-light lh-40 text-center footer_7 mt-auto">
	<div class="container px-xl-0">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-5 col-md-auto text-md-right text-lg-left order-2 order-lg-1">
				&copy; {{ now.Format "2006"}}<a href="{{ .Site.Params.author.linkedin }}" class="link f-14 semibold text-uppercase sp-20 color-main mx-15">{{ .Site.Params.author.name }}.</a>All rights reserved.
			</div>
			<div class="mb-20 mb-lg-0 col-lg-2 order-0 order-lg-1">
				<img src="{{ $lo }}" srcset="{{ $hi }} 2x" alt="" />
			</div>
			<div class="col-lg-5 col-md-auto text-md-left text-lg-right order-1 order-lg-2">
				<span class="socials">
					<a href="{{ .Site.Params.repository_url }}" class="f-18 semibold text-uppercase sp-20 link color-main mr-10">
						<i class="fab fa-gitlab"></i>
					</a>
					<a href="{{ .Site.Params.twitter_url }}" class="f-18 semibold text-uppercase sp-20 link color-main mr-10">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="{{ .Site.Params.mastodon_url }}" class="f-18 semibold text-uppercase sp-20 link color-main mr-10">
						<i class="fab fa-mastodon"></i>
					</a>
				</span>
			</div>
		</div>
	</div>
</footer>
