{{ $get_involved := .Site.Params.get_involved }}
{{ $heading := index $get_involved "heading" }}
{{ $subtitle := index $get_involved "subtitle" }}
{{ $actions := index $get_involved "actions" }}

<!-- Call to action 10 -->
<section id="get_involved" class="pt-120 pb-140 bg-light text-center call_to_action_10">
	<div class="container px-xl-0">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10">
				<div class="color-heading f-14 semibold text-uppercase sp-20">{{ $subtitle }}</div>
				<h2 class="mt-10 mb-30 small">{{ $heading }}</h2>
			</div>
		</div>
		<div class="row justify-content-center">
      {{ range $actions }}
  			<div class="col-lg-3 col-md-4 block mt-40">
  				<i class="{{ .icon }} f-62"></i>
  				<div class="mt-25 mb-25 f-22 color-heading title">{{ .title }}</div>
  				<a href="{{ .url }}" class="btn border-action-1">{{ .button }}</a>
  			</div>
			{{ end }}
		</div>
	</div>
</section>
