{{ $nav := .Site.Params.navigation }}
{{ $links := index $nav "links" }}
{{ $b_title := index $nav "button_title" }}
{{ $b_url := index $nav "button_url" }}
{{ $is_home := .IsHome }}

<a href="#" class="open_menu bg-light radius_full"><i class="fas fa-bars lh-40"></i></a>
<div class="navigation_mobile bg-dark type1">
	<a href="#" class="close_menu color-white"><i class="fas fa-times"></i></a>
	<div class="px-40 pt-60 pb-60 inner">
		<div class="logo color-white mb-30">{{ .Site.Title }}</div>
		{{ range $links }}
			{{ if $is_home }}
				<div><a href="{{ .anchor }}" class="f-heading f-22 link color-white mb-20">{{ .title }}</a></div>
			{{ else }}
				<div><a href="{{ .Site.BaseURL }}/{{ .anchor }}" class="f-heading f-22 link color-white mb-20">{{ .title }}</a></div>
			{{ end }}
		{{ end }}
		<div><a href="{{ $b_url }}" class="f-heading f-22 link color-white mb-20">{{ $b_title }}</a></div>
		<!-- <div><a href="#" class="link color-white op-3 mb-15">Careers</a></div> -->

		<div class="socials mt-40">
			<a href="{{ .Site.Params.repository_url }}" target="_blank" class="link color-white f-18 mr-20"><i class="fab fa-gitlab"></i></a>
			<a href="{{ .Site.Params.twitter_url }}" target="_blank" class="link color-white f-18 mr-20"><i class="fab fa-twitter"></i></a>
			<a href="{{ .Site.Params.mastodon_url }}" target="_blank" class="link color-white f-18 mr-20"><i class="fab fa-mastodon"></i></a>
		</div>

		<div class="mt-50 f-14 light color-white op-3 copy">&copy; {{ now.Format "2006"}} <a class="link color-white" href="{{ .Site.Params.author.linkedin }}">{{ .Site.Params.author.name }}</a>. All rights reserved.</div>
	</div>
</div>
